body {
  background: #212529 !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-mov {
  width: 20% !important;
}

.image-container {
  position: relative;
  transition: transform 0.4s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
}

span {
  font-size: 15px;
  margin-right: 10px;
  color: white;
}
